<div class="Contenedor-App">
    <div class="Header-Home">
        <app-header class="Header"></app-header>
        <app-home class="Home"></app-home>
    </div>
    <div class="Main-App">
        <div class="Service-Find">
            <app-service-capabilities></app-service-capabilities>
            <app-find-telegram></app-find-telegram>
        </div>
        <app-buying-ads></app-buying-ads>
        <app-detailed-analytics></app-detailed-analytics>
        <app-verify-channels></app-verify-channels>
    </div>
</div>
 