<div class="Contenedor-Levarage">
    <div class="Content-Right-Left">
        <div class="Left-Content">
            <div class="Boxs-Content">
                <div class="Top">
                    <span>11 460 754</span>
                    <p>Channels and Chats</p>
                </div>
                <div class="Bottom">
                    <div>
                        <span>72B</span>
                        <p>Posts in <br> Database</p>
                    </div>
                    <div>
                        <span>88М+</span>
                        <p>Advertising  <br> Creatives</p>
                    </div>
                    <div>
                        <span>407К</span>
                        <p>Telegram Ads Announcements</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="Right-Content">

        </div>
    </div>
</div>