<div class="Contenedor-service">
    <h1 class="Title-Service">Service Capabilities</h1>
    <div class="Box-Service">
        <div class="Content-Options-service">
            <app-option-service></app-option-service>
        </div>
        <div class="Content-service">
            <div class="j">
                <h1>Enhance the effectiveness of your advertising campaigns in Telegram Ads!</h1>
                <div class="Items-content-service">
                    <div class="Items">
                        <img src="/check.svg" alt="">
                        <span>Find competitors' ads creatives.</span>
                    </div>
                    <div class="Items">
                        <img src="/check.svg" alt="">
                        <span>View channels where ads creatives were placed.</span>
                    </div>
                    <div class="Items">
                        <img src="/check.svg" alt="">
                        <span>Export channels for placement in Telegram Ads.</span>
                    </div>
                    
                </div>
                <button class="Btn-Explore-Telegram-Adds">Explore Telegram Adds</button>
            </div>
            <div class="m">
                <img src="/service.png" alt="">
            </div>
        </div>
    </div>
</div> 