<div class="Content-Buying-ads">
    <div class="Left-Buying-ads">
        <img src="/Buying.png" alt="">
    </div>
    <div class="Rigth-Buying-ads">
        <div class="Content-Rigth">
            <h1>Buying ads from a scammer puts your budget at risk</h1>
            <div class="Info">
                <div  class="Channels-detected">
                    <h1 class="value">160 522</h1>
                    <p>Scam channels detected in <br> Telemetrio.</p>
                </div>
                <div class="Real-Time">
                    <h1 class="value">Real Time</h1>
                    <p>Updated by AI and feedback <br> from admins</p>
                </div>
            </div>
            <button class="Btn-buying-ads">Save your money</button>
        </div>
    </div>
</div>
