<div class="Content-VerifyChannels-Slide">
    <div class="Content-Slides">
        <div class="Slide-Top">
            <div class="Item-Slide">
                <div  class="Img-Item">
                    <img src="/x.png" alt="">
                </div>
                <div class="Nombre-FollowsCounts">
                    <div class="Nombre">
                        <h1>Twitter</h1>
                    </div>
                    <div class="Follows-Count">
                        <img src="/Icons/Audience.svg" alt="">
                        <span>689 251</span>
                    </div>
                </div>
            </div>
            <div class="Item-Slide">
                <div  class="Img-Item">
                    <img src="/x.png" alt="">
                </div>
                <div class="Nombre-FollowsCounts">
                    <div class="Nombre">
                        <h1>Twitter</h1>
                    </div>
                    <div class="Follows-Count">
                        <img src="/Icons/Audience.svg" alt="">
                        <span>689 251</span>
                    </div>
                </div>
            </div>
            <div class="Item-Slide">
                <div  class="Img-Item">
                    <img src="/x.png" alt="">
                </div>
                <div class="Nombre-FollowsCounts">
                    <div class="Nombre">
                        <h1>Twitter</h1>
                    </div>
                    <div class="Follows-Count">
                        <img src="/Icons/Audience.svg" alt="">
                        <span>689 251</span>
                    </div>
                </div>
            </div>
            
        </div>
    
        <div class="Slide-Bottom">
    
            <div class="Item-Slide">
                <div  class="Img-Item">
                    <img src="/x.png" alt="">
                </div>
                <div class="Nombre-FollowsCounts">
                    <div class="Nombre">
                        <h1>Twitter</h1>
                    </div>
                    <div class="Follows-Count">
                        <img src="/Icons/Audience.svg" alt="">
                        <span>689 251</span>
                    </div>
                </div>
            </div>
            <div class="Item-Slide">
                <div  class="Img-Item">
                    <img src="/x.png" alt="">
                </div>
                <div class="Nombre-FollowsCounts">
                    <div class="Nombre">
                        <h1>Twitter</h1>
                    </div>
                    <div class="Follows-Count">
                        <img src="/Icons/Audience.svg" alt="">
                        <span>689 251</span>
                    </div>
                </div>
            </div>
            <div class="Item-Slide">
                <div  class="Img-Item">
                    <img src="/x.png" alt="">
                </div>
                <div class="Nombre-FollowsCounts">
                    <div class="Nombre">
                        <h1>Twitter</h1>
                    </div>
                    <div class="Follows-Count">
                        <img src="/Icons/Audience.svg" alt="">
                        <span>689 251</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
