<div class="Content-Detailded-Analytics">
    <div class="Title-Detailded">
        <h1>Get detailed analytics on every Telegram channel</h1>
    </div>
    <div class="Images-Detaildeds">
        <div class="Box-Image">
            <div class="Info">
                <div class="Nombre-Img">
                    <img src="/Icons/Icon-Data.svg" alt="">
                    <h3>Audience Engagement</h3>
                </div>
                <p>Analyze the channel's traffic sources and the <br> posts it used for advertising.</p>
            </div>
            <img src="/audacity-chart.svg" alt="">
        </div>
        <div class="Two-Images">
            <div class="Box-Image">
                <div class="Info">
                    <div class="Nombre-Img">
                        <img src="/Icons/Activity.svg" alt="">
                        <h3>Activity</h3>
                    </div>
                    <p>Monitor metrics such as subscriber growth, <br> views, ER (engagement rate), and more.</p>
                </div>
                <img src="/activity.svg" alt="">
            </div>
            <div class="Box-Image">
                <div class="Info">
                    <div class="Nombre-Img">
                        <img src="/Icons/Audience.svg" alt="">
                        <h3>Audience</h3>
                    </div>
                    <p>Explore the audience, their activity, and the <br> duration of their subscription to the channel.</p>
                </div>
                <img src="/audacy.svg" alt="">
            </div>
        </div>
        <div class="Box-Image">
            <div class="Info">
                <div class="Nombre-Img">
                    <img src="/Icons/Post.svg" alt="">
                    <h3>Posts</h3>
                </div>
                <p>Analyze posts even after the author has deleted <br> them from the Telegram channel. Telemetrio <br> saves <span>~35.3M</span> new posts daily.</p>
            </div>
            <img src="/posts-list.svg" alt="">
        </div>
    </div>
    <div class="Content-btn">
        <button class="Btn-detailded">Analyze Channels</button>
    </div>
</div>
