<div class="Content-Verify-Channels">
    <div class="Title-Propities-Content">
        <div class="Title">
            <img src="/verification-icon.svg" alt="">
            <h1><span>Verify</span> your channels on Telemetrio <br> and unlock more features</h1>
        </div>
        <div class="Propities">
            <div class="Item">
                <img src="/Icons/Audience.svg" alt="">
                <span>Advanced channel audience analytics</span>
            </div>
            <div class="Item">
                <img src="/Icons/Sweep.svg" alt="">
                <span>Protection from bot manipulations</span>
            </div>
            <div class="Item">
                <img src="/Icons/Link.svg" alt="">
                <span>Analysis of invite links and ad effectiveness</span>
            </div>
        </div>
    </div>
    <div class="Slide-Channels">
        <app-verifychannels-slide></app-verifychannels-slide>
    </div>
</div>
