.Content-Verify-Channels{
    width: 70%;
    height: 70vh;
    margin: 0  auto;
}

.Title{
    display: flex;
    justify-content: center;
    align-items: start;
    text-align: center;
    display: flex;
    font-size: 25px;
}


.Title img{
    width: 10%;
    position: relative;
    left: 2%;
}

.Title span{
    color: #018F71;
    
}

.Propities{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.Item{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    
}

.Slide-Channels{
    margin-top: 50px;
}

.Mini_Info-BtnVerify{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Btn-Verify-Channels{
    margin-left: 10%;
    background: linear-gradient(90deg, rgb(71, 131, 199), #fff);
    color: #fff;
    border: none;
    width: 30%;
    margin: 0 auto;
    height: 60px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: background-color 1s linear;
    cursor: pointer;
}
.Btn-Verify-Channels:hover{
    background: black;
    color: #fff;
    transition: background-color 1000ms linear;
}