<div class="Content-Find-Telegram">
    <div class="Left-Content">
        <h1>Find Telegram channels for <br> advertising placement</h1>
        <div class="Box-About-Find-Telegram">
            <div class="Item">
                <p>Telemetrio has 7M+ channels categorized into 41 categories</p>
            </div>
            <div class="Item">
                <p>Search channels by keywords in the title and description.</p>
            </div>
            <div class="Item">
                <p>Customize the table to fit your needs</p>
            </div>
            <div class="Item">
                <p>Thematic collections for better channel search.</p>
            </div>
        </div>
        <button class="Btn-Find-Channels">Find Channels</button>
    </div>
    <div class="Rigth-Content">
        <div class="Filter-Channels">
            <div class="Selects">
                <select name="" id="">
                    <option value="">Pais</option>
                </select>
                <select name="" id="">
                    <option value="">Categoria</option>
                </select>
            </div>
        </div>
        <div class="Tops-Channels">
           <div class="Box-Channels uno">
                <div class="Content-Box-Channels">
                    <img class="Trofeo" src="/Trofeo.svg" alt="">
                    <div class="Foto-Nombre-Follows">
                        <div class="Foto">
                            <img src="/Netflix.png" alt="">
                        </div>
                        <div class="Nombre">
                            <h3>Netflix</h3>
                        </div>
                        <div class="Count-Follows">
                            <h4>10.2M</h4>
                        </div>
                    </div>
                    <h1 class="NumberTop">01</h1>
                </div>
           </div>
           <div class="Box-Channels dos">
                <div class="Content-Box-Channels">
                    <div class="Foto-Nombre-Follows">
                        <div class="Foto">
                            <img src="/Netflix.png" alt="">
                        </div>
                        <div class="Nombre">
                            <h3>Netflix</h3>
                        </div>
                        <div class="Count-Follows">
                            <h4>10.2M</h4>
                        </div>
                    </div>
                    <h1 class="NumberTop">02</h1>
                </div>
           </div>
           <div class="Box-Channels tres">
            <div class="Content-Box-Channels">
                <div class="Foto-Nombre-Follows">
                    <div class="Foto">
                        <img src="/Netflix.png" alt="">
                    </div>
                    <div class="Nombre">
                        <h3>Netflix</h3>
                    </div>
                    <div class="Count-Follows">
                        <h4>10.2M</h4>
                    </div>
                </div>
                <h1 class="NumberTop">03</h1>
            </div>
           </div>
           <div class="Box-Channels cuatro">
            <div class="Content-Box-Channels">
                <div class="Foto-Nombre-Follows">
                    <div class="Foto">
                        <img src="/Netflix.png" alt="">
                    </div>
                    <div class="Nombre">
                        <h3>Netflix</h3>
                    </div>
                    <div class="Count-Follows">
                        <h4>10.2M</h4>
                    </div>
                </div>
                <h1 class="NumberTop">04</h1>
            </div>
           </div>
           <div class="Box-Channels cinco">
            <div class="Content-Box-Channels">
                <div class="Foto-Nombre-Follows">
                    <div class="Foto">
                        <img src="/Netflix.png" alt="">
                    </div>
                    <div class="Nombre">
                        <h3>Netflix</h3>
                    </div>
                    <div class="Count-Follows">
                        <h4>10.2M</h4>
                    </div>
                </div>
                <h1 class="NumberTop">05</h1>
            </div>
           </div>
        </div>
    </div>
</div>