<div  class="Contenedor-Home-Search">
    <div class="Title-Home">
        <h3 class="Litle">World largest database of Telegram channels <span>11M+</span></h3>
        <div class="Big">
            <h1>Analytics Service
                <br>
                for Businesses on
                <img src="/telegram.svg" alt="">
                Telegram
            </h1>
    
           
        </div>
        <h3 class="Small">Find effective advertising channels in a few minutes</h3>

        <div class="Search-Home">
            <input type="text" placeholder="Enter chanell name">
            <button>Search</button>
        </div>
    </div>
    <app-sponsors-slide></app-sponsors-slide>
</div>
